.index-info{
    text-align: center;
    color: white;
    margin: 115px 0 25px;
    font-size: 18px;
    font-weight: 300;
}

.slider{
    max-width: 600px;
    aspect-ratio: 3/2;
    margin:  0 auto;
    position: relative;
    margin-bottom: 1rem;
}
.slider-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation-button{
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-button{
    left: -100px;
}
.next-button{
    right: -100px;
}
.navigation-button img{
width:  15px;
}
.navigation-button:hover{
    background-color: rgba(206, 206, 206, 0.301);
    }
    

.image-info{
    position: absolute;
    z-index: 1;
    right: 0;
    color: rgba(0, 0, 0, 0.692);
    background-color: rgba(255, 255, 255, 0.747);
    padding: 8px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.815);
    border-left: 1px solid rgba(0, 0, 0, 0.685);
    font-weight: 500;
}

@media (max-width:850px)  {
    .index-info{
        font-size: 16px;
    }
    .slider{
       max-width: 400px; 
    }
    .navigation-button{
        width: 35px;
        height: 35px;
    }
    .prev-button{
        left: -75px;
    }
    .next-button{
        right: -75px;
    }
    .navigation-button img{
        width:  12px;
        }
}